body {
    overflow: auto;
    background-color: black;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: black;
}

body::-webkit-scrollbar {
    width: 6px;
    background-color: black;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: rgb(169, 169, 169, 0.7);
}


#nome {
    color: gray;
    font-size: 15px;
    font-weight: bold;
    align-items: center;
    font-family: "Reddit Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
}

.allPage {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.topBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
    padding-left: 25%;
    padding-right: 25%;
    width: 100%;
    height: fit-content;
}

.github {
    width: fit-content;
    height: fit-content;
}

.github i {
    color: gray;
}

button {
    margin: 0;
    background-color: 0;
    background-color: rgb(255, 255, 255, 0);
    box-shadow: none;
    border: 0;
}

.nomeCreatore {
    display: flex;
    justify-content: center;
    align-items: center;
}

.presentation {
    display: flex;
    flex-direction: column;
    height: 20%;
    width: 100%;
    margin-top: 7%;
    padding-left: 25%;
    padding-right: 25%;
    /*align-items: center;*/
    justify-content: center;
}

.introduction {
    color: white;
    font-size: 42px;
    height: fit-content;
    width: fit-content;
    /*font-family: "Reddit Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;*/
    font-weight: bold;
}

.nome {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: fit-content;
    width: fit-content;
}

.sigma {
    font-size: 42px;
}

.project-card {
    display: flex;
    width: 70%;
    height: 900px;
    align-self: center;
    align-items: center;
    justify-content: center;
    border-radius: 36px;
    outline-offset: -1px;
    background-color: rgba(242, 242, 242, .04);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, .3), 0 0 60px rgba(0, 0, 0, .3), 0 60px 180px #000;
    border: 1px solid rgba(242, 242, 242, 0.2);
    margin-top: 50px;
}

.project-card-inside {
    background-image: radial-gradient(circle farthest-side at 50% 0, rgba(242, 242, 242, .2), rgba(0, 0, 0, 0));
    box-shadow: inset 0 0 10px rgba(0, 0, 0, .3), 0 0 60px rgba(0, 0, 0, .3), 0 60px 180px #000;
    border-radius: 36px;
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: column;
}

.textInsideContainer {
    width: 100%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.titleOfProject {
    color: white;
    font-size: 32px;
}

.descriptionOfProject {
    color: gray;
    font-size: 18;
}



.imageAlign {
    display: flex;
    align-items: center;
    justify-content: center;
}

.projectImage {
    width: 90%;
    height: auto;
    overflow: hidden;
    box-shadow: 0 40px 50px 10px rgba(0, 0, 0, .25);
    border-radius: 36px;
    transition: transform 1s ease;
}

.projectImage:hover {
    transform: scale(1.05);
}

p {
    word-spacing: -1px;
    margin: 0;
}

.wrapper {
    width: 90%;
    max-width: 1536px;
    margin-inline: auto;
    position: relative;
    height: 100px;
    margin-top: 2rem;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    mask-image: linear-gradient(to right,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 1) 20%,
            rgba(0, 0, 0, 1) 80%,
            rgba(0, 0, 0, 0));
    margin-bottom: 50px;
}

@keyframes scrollLeft {
    to {
        left: -200px;
    }
}

.item {
    width: 200px;
    height: 100px;
    background-color: transparent;
    border-radius: 6px;
    position: absolute;
    display: flex;
    justify-content: center;
    left: max(calc(200px * 8), 100%);
    animation-name: scrollLeft;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    align-items: center;
}

.item1 {
    animation-delay: calc(30s / 8 * (8 - 1) * -1);
}

.item2 {
    animation-delay: calc(30s / 8 * (8 - 2) * -1);
}

.item3 {
    animation-delay: calc(30s / 8 * (8 - 3) * -1);
}

.item4 {
    animation-delay: calc(30s / 8 * (8 - 4) * -1);
}

.item5 {
    animation-delay: calc(30s / 8 * (8 - 5) * -1);
}

.item6 {
    animation-delay: calc(30s / 8 * (8 - 6) * -1);
}

.item7 {
    animation-delay: calc(30s / 8 * (8 - 7) * -1);
}

.item8 {
    animation-delay: calc(30s / 8 * (8 - 8) * -1);
}

.logo {
    height: 100px;
    width: fit-content;
    max-width: 200px;
}

.skillPresentation {
    padding: 5%;
    color: white;
    font-size: 50px;
    align-items: center;
    font-family: "Reddit Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    margin-left: 6%;
}

.skill {
    display: flex;
    align-items: center;
    width: 100%;
}

@keyframes scrollLeft {
    to {
        left: -200px;
    }
}

@media (max-width: 900px) {
    .titleOfProject {
        font-size: 20px;
    }

    .descriptionOfProject {
        color: gray;
        font-size: 10px;
    }

    .introduction {
        font-size: 20px;
    }

    .sigma {
        font-size: 20px;
    }

    .project-card {
        height: 250px;
        width: 90%;
    }

    .topBar {
        padding-left: 10%;
        padding-right: 10%;
    }

    .presentation {
        width: 90%;
        padding-left: 10%;
        padding-right: 10%;
    }

    .item {
        height: 50px;
        width: 100px;
        left: max(calc(100px * 8), 100%);
    }

    .wrapper {
        height: 50px;
    }

    .logo {
        height: 50px;
    }

    .skillPresentation {
        font-size: 20px;
    }

}